h1{
    font-size: 3rem;
    text-align: center;
    margin-top: -10rem;
}
p{
    font-size: 10rem;
}


.emoji-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-input{
    display:flex;
    align-items: center; 
    justify-content: center;
    padding: .5rem; 
}

.main-button{
    background-color: green;
    color: white;
    padding: 10px;
}